#project{
    height: 80vh;
    .text{
        h1{
            text-align: center;
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 3rem;
            margin-bottom: 2rem;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                bottom: -3px;
                left: 27%;
                width: 46%;
                height: 3px;
                background-color: yellow;
            }
        }
    }

    .img-boxes{
        img{
            margin: 0 15px; 
            height: 350px;
        }
    }
}